@charset "UTF-8";

/* wrap */

.wrap {
	text-align : center;
	margin : 150px;
}

h2 {
	font-family: 'Noto Sans KR', sans-serif;
}

h4 {
	font-family: 'Noto Sans KR', sans-serif;
	padding: 50px;
}

h6 {
	font-family: 'Noto Sans KR', sans-serif;
	padding: 50px;
}

/* 입주문의 내역 */

.questionTable {
	padding : 50px;
}

table {
	font-family: 'Noto Sans KR', sans-serif !important;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    text-align: center;
}

th, td {
	font-family: 'Noto Sans KR', sans-serif !important;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
}

th {
	font-family: 'Noto Sans KR', sans-serif !important;
    background-color: #e5e5e5;
    font-weight: bold;
}

.emptySpace {
	font-family: 'Noto Sans KR', sans-serif;
	padding : 100px;
}
