 body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
    }

    .chat-container {
        max-width: 600px;
        margin: 50px auto;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    .chat-header {
        padding: 20px;
        padding-bottom: 15px; 
        border-bottom: 1px solid #e0e0e0;
    }

    h1 {
    	text-align: center;
        font-size: 24px;
        margin: 0;
        color: #333;
        padding-bottom: 2px; 
    }

    p {
        font-size: 17px;
        margin-top: 5px;
        color: #666;
    }

    strong {
        color: #008cba;
    }

    .chat-body {
        max-height: 400px;
        overflow-y: auto;
        padding: 20px;
    }

    .chat-input {
        padding: 10px;
        border-top: 1px solid #e0e0e0;
    }

    #userInput {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    
    .chat-intro {
    margin: 20px auto;
    max-width: 600px;
    line-height: 1.6;
    font-size: 25%;
    color: #555;
	}	

	.chat-intro strong {
    color: #008cba;
	}

	.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
	}

	.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
	}

	.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
	}
	
	.custom-button {
    background-color: #007bff;
    color: white;
    padding: 5px 10px; /* 크기 조정 */
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 10px; /* 간격 조정 */
    font-size: 12px;
	}