@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=REM:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	font-family: 'Noto Sans KR', sans-serif;
}

/* footer */

footer {
    background-color: #606060;
    width: 100%;
    height : 100%;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.established {
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
}

.footer-bottom-section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  border-top: 1px solid #ffffff;
  background-color: #606060;
}

.footer-bottom-wrapper {
  text-align: center;
  color: #ffffff;
}

/* p {
  color: #ffffff;
} */

/* strong {
  color: #ffffff;
  font-size: 14px;
} */

.cospaceInfo,
.cospaceLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-direction: row;
    flex-wrap: nowrap;
}

.cospaceInfo,
.cospaceLogo {
    display: inline-block;
    vertical-align: middle;
}

.cospaceWrap{
	display: inline-block;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}

.logos {
	padding : 10px;
}


/* chatbot */

#chatbot {
  position: fixed;
  right: 20px;
  bottom: 105px;
  z-index: 999;
}

#chatbot:hover {
  transition: 0.3s;
  transform: scale(1.1);
}

/* top button */

#btn_top {
  position: fixed;
  right: 20px;
  bottom: 40px;
  z-index: 999;
  opacity: 0.5;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, .4);
}

#btn_top:hover {
  background-color: black;
  transition: 0.3s;
  transform: scale(1.1);
}
