<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!--카멜 케이스 자동으로 매핑 하도록 설정  -->
<!-- 	<settings>
			<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings> -->
	
	<settings>
        <setting name="jdbcTypeForNull" value="NULL" />
 
    </settings>
	<!-- Alias 설정 -->
	<typeAliases>
		<typeAlias alias="member" type="com.setbang.domain.MemberVO" />		
		<typeAlias alias="card" type="com.setbang.domain.CardVO" />	
		<typeAlias alias="plan" type="com.setbang.domain.PlanVO" />
		<typeAlias alias="support" type="com.setbang.domain.SupportVO" />
		<typeAlias alias="inquery" type="com.setbang.domain.InqueryVO"/>
		<typeAlias alias="admin" type="com.setbang.domain.AdminVO"/>			
		<typeAlias alias="pubOffice" type="com.setbang.domain.PubOfficeVO"/>
		<typeAlias alias="item" type="com.setbang.domain.ItemVO"/>
		<typeAlias alias="partner" type="com.setbang.domain.PartnerVO"/>
		<typeAlias alias="mypagesub" type="com.setbang.domain.MypageSubVO"/>	
		<typeAlias alias="constract" type="com.setbang.domain.ConstractVO"/>		
	</typeAliases>
	

</configuration>

