<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!--카멜 케이스 자동으로 매핑 하도록 설정  -->
<!-- 	<settings>
			<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings> -->
	
	<settings>
        <setting name="jdbcTypeForNull" value="NULL" />
    </settings>
	<!-- Alias 설정 -->
	<typeAliases>
		<typeAlias alias="login" type="com.setbang.domain.MemberVO" />
		<typeAlias alias="member" type="com.setbang.domain.InsertMemberVO" />
		<typeAlias alias="support" type="com.setbang.domain.SupportVO" />
		<typeAlias alias="pubOffice" type="com.setbang.domain.PubOfficeVO"/>
		<typeAlias alias="inquery" type="com.setbang.domain.InqueryVO"/>	
<!-- 		<typeAlias alias="partner" type="com.setbang.domain.PartnerVO"/> -->				
	</typeAliases>
	

</configuration>

