<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="AdminDAO">
	<select id="totalmember" resultType="int">
		select count(*) as mem_code from member
	</select>

	<select id="findadmin" parameterType="admin" resultType="admin">
		select admin_id, admin_pw from admin where admin_id=#{admin_id}
	</select>
	
	<insert id="insertcontract" parameterType="admin">
		INSERT INTO CONSTRACT (CON_CODE, MEM_CODE, PRIV_CODE, CON_START_DATE, CON_END_DATE, CON_DATE, LESSOR_NAME, LESSEE_NAME, LESSEE_TEL)
		VALUES(s_con_code.nextval, #{mem_code}, #{priv_code}, #{con_start_date}, #{con_end_date}, #{con_date}, #{lessor_name}, #{lessee_name}, #{lessee_tel})
	</insert>

	<select id="findmemcode" parameterType="String" resultType="int">
		select mem_code from member where name=#{lessee_name} and tel=#{lessee_tel}
	</select>
	
	<select id="findprivcode" parameterType="int" resultType="int">
		select priv_code from priv_office where priv_code=#{priv_code}
	</select>
	
	<select id="countguro" resultType="int">
		select count(*) as priv_code from constract <![CDATA[where priv_code>20 and priv_code<=30]]>
	</select>
	
	<select id="countpangyo" resultType="int">
		select count(*) as priv_code from constract <![CDATA[where priv_code>10 and priv_code<=20]]>
	</select>
	
	<select id="countgangnam" resultType="int">
		select count(*) as priv_code from constract <![CDATA[where priv_code<=10]]>
	</select>
	
	<select id="servicegrade_Basic" resultType="int">
		select count(*) as mem_plan from member where mem_plan='basic'
	</select>
	
	<select id="servicegrade_Standard_monthly" resultType="int">
		select count(*) as mem_plan from member where mem_plan='standard_monthly'
	</select>
	
	<select id="servicegrade_Standard_annual" resultType="int">
		select count(*) as mem_plan from member where mem_plan='standard_annual'
	</select>
	
	<select id="servicegrade_premium_monthly" resultType="int">
		select count(*) as mem_plan from member where mem_plan='premium_monthly'
	</select>	
	
	<select id="servicegrade_premium_annual" resultType="int">
		select count(*) as mem_plan from member where mem_plan='premium_annual'
	</select>
	
	<select id="inqueryList" resultType="admin">
	<![CDATA[select rownum as inq_indexnum, inq_code, inq_title, inq_content, to_char(inq_date, 'YYYY-MM-DD') as inq_date, inq_name, inq_tel, inq_email, inq_people, inq_coname,
		inq_branch, inq_website from (select * from inquery order by inq_code) ]]>
	</select>
	
	<select id="constractList" resultType="admin">
	<![CDATA[ select rownum as con_indexnum, con_code, lessor_name, lessee_name, lessee_tel, to_char(con_start_date, 'YYYY-MM-DD') as con_start_date, to_char(con_end_date, 'YYYY-MM-DD') as con_end_date, to_char(con_date, 'YYYY-MM-DD') as con_date
			from (select * from constract order by con_code) ]]>		
	</select>
	
	<select id="memberapprovalList" resultType="admin">
	<![CDATA[ select rownum as member_indexnum, mem_code, name, tel, email, business_no, addr, id, pw, mem_plan,
			to_char(signup_date, 'YYYY-MM-DD') as signup_date, approval, ind_name from (select m.mem_code, m.name, m.tel, m.email, m.business_no, m.addr, m.id, m.pw, m.mem_plan, m.signup_date, m.approval, i.ind_name from member m, industry i where m.ind_code = i.ind_code
			order by mem_code)
			where approval = 'N'
	]]>		
	</select>
	
	<select id="findcheckmemcode" parameterType="admin" resultType="int">
		select mem_code from member where id=#{id} and pw=#{pw}
	</select>
	
	<update id="updateapproval" parameterType="admin">
		update member set approval=#{check} where mem_code=#{mem_code}
	 </update>
	
</mapper>