<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CardDAO">

	<!-- 카드 추가 -->
	<insert id="addCard" parameterType="card" >	
    INSERT INTO card (CARD_CODE, MEM_CODE, CARD_NAME, CARD_NO, CVC, EXP_DATE, CARD_PW, CARD_EASYPW)
    VALUES (s_card_code.nextval, #{mem_code}, #{card_name}, #{card_no}, #{cvc}, #{exp_date}, #{card_pw}, #{card_easypw})
	</insert>
	
	<!-- 등록된 카드 가져오기 -->
    <select id="getCardList" parameterType="card" resultType="card">
        SELECT * FROM CARD
        WHERE MEM_CODE = (SELECT MEM_CODE FROM MEMBER WHERE MEM_CODE = #{mem_code})
    </select>
    
   	<!-- 등록된 카드 삭제 -->
	<delete id="deleteCard" parameterType="card">
		DELETE FROM CARD
		WHERE card_code = #{card_code}
	</delete>
		
	<!-- 카드번호로 간편 비밀번호 가져오기 -->
     <select id="getEasypwByCardcode" parameterType="int" resultType="int">
        select card_easypw from card where card_code=#{card_code}
	</select>
	
	<!-- 간편 비밀번호 변경 -->
	<update id="updateEasypw" parameterType="card">
	    UPDATE card SET card_easypw = #{card_easypw}
	    WHERE card_code = #{card_code}
	</update>

	
	
</mapper>

