<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ItemDAO">
	
	<!-- i_cat_code로 item 가져오기 -->
	<select id="selectItem" parameterType="int" resultType="item">
		select i_code, i_name from item where i_cat_code = #{i_cat_code}
	</select>
	
	
	<!-- i_code로 i_name 찾기 -->
	<select id="selectItemName" parameterType="int" resultType="item">
		select i_name from item where i_code = #{i_code}
	</select>	
	
	
	<!-- mem_code 찾기 -->
	<select id="findmemcode" parameterType="String" resultType="int">
		select mem_code from member where id=#{id}
	</select>
	
	<insert id="orderinsert" parameterType="item">
		INSERT INTO ITEM_APPLY (i_apply_code, MEM_CODE, I_CODE, I_UNIT_AMOUNT, I_APPLY_DATE)
		VALUES(s_i_apply_code.nextval, #{mem_code}, #{i_code}, #{i_unit_amount}, sysdate);
	</insert>
	

</mapper>