<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PlanDAO">

	<!-- 월간 서비스 플랜 결제 -->
<!-- 	<insert id="planPaymentForMonthly" parameterType="plan">
	    INSERT INTO PLAN_APPLY (PLAN_APPLY_CODE, PAYMENT_DATE, PLAN_START, PLAN_END, PLAN_CODE, CARD_CODE)
	    VALUES (s_plan_apply_code.NEXTVAL, SYSDATE, SYSDATE, SYSDATE+30, #{PLAN_CODE},
	    (SELECT CARD_CODE FROM CARD WHERE CARD_NO = #{CARD_NO} AND CARD_EASYPW = #{CARD_EASYPW}))
	</insert> -->

	<!-- 연간 서비스 플랜 결제 -->
<!-- 	<insert id="planPaymentForAnnual" parameterType="plan">
	    INSERT INTO PLAN_APPLY (PLAN_APPLY_CODE, PAYMENT_DATE, PLAN_START, PLAN_END, PLAN_CODE, CARD_CODE)
	    VALUES (s_plan_apply_code.NEXTVAL, SYSDATE, SYSDATE, SYSDATE+365, #{PLAN_CODE},
	    (SELECT CARD_CODE FROM CARD WHERE CARD_NO = #{CARD_NO} AND CARD_EASYPW = #{CARD_EASYPW}))
	</insert> -->
	
	
	<!-- 서비스 플랜 결제 -->
	<insert id="planPayment" parameterType="plan">
	    INSERT INTO PLAN_APPLY (PLAN_APPLY_CODE, PAYMENT_DATE, PLAN_START, PLAN_END, PLAN_CODE, CARD_CODE)
	    VALUES (s_plan_apply_code.NEXTVAL, SYSDATE, SYSDATE, SYSDATE + 
	        CASE WHEN #{PLAN_CODE} IN (1, 3) THEN 30 ELSE 365 END, 
	        #{PLAN_CODE},
	        (SELECT CARD_CODE FROM CARD WHERE CARD_NO = #{CARD_NO} AND CARD_EASYPW = #{CARD_EASYPW}))
	</insert>
	
	
	<!-- 월간 서비스 플랜 업그레이드 -->
	<insert id="planUpgradeForMonthly" parameterType="plan">
	</insert>
	
</mapper>

