<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PubOfficeDAO">

	<!-- PubOfficeDAO.selectPubOfficeCombo -->
	<select id="selectPubOfficeCombo" resultType="pubOffice">
		SELECT PUB_CODE
				,PUB_CAT_CODE
				,PUB_YN
				,PUB_UNIT
		FROM 
			PUB_OFFICE 
	</select>
	
	<!-- PubOfficeDAO.compareTimes  -->
	<select id="compareTimes" resultType="pubOffice" parameterType="pubOffice">
		SELECT po.PUB_TIME, b.BOOK_START,TO_CHAR(b.BOOK_DATE, 'YYYY-MM-DD') AS BOOK_DATE
 			FROM PUB_OFFICE po,BOOKING b
		WHERE po.PUB_CODE = b.PUB_CODE 
 			AND b.BOOK_START = po.PUB_TIME
 			AND TO_CHAR(b.BOOK_DATE, 'YYYY-MM-DD') = #{bookDate}
 			AND b.PUB_CODE = #{pubCode}
 			
	</select>
	
	<!--   PubOfficeDAO.insertOffice  -->
	<insert id="insertOfficeBooking" parameterType="pubOffice">
		INSERT INTO BOOKING 
			(BOOK_CODE
			,MEM_CODE
			,PUB_CODE
			,BOOK_DATE
			,BOOK_START
			,book_people) 
		VALUES 
			(S_BOOK_CODE.NEXTVAL
			,#{memCode}
			,#{pubCode}
			,TO_DATE(#{bookDate}, 'YYYY-MM-DD')
			,#{bookStart}
			,#{bookPeople})
	</insert>
	
	<!--PubOfficeDAO.updatePubOfficeY -->
	<update id="updatePubOfficeY" parameterType="pubOffice">
		UPDATE PUB_OFFICE 
			SET PUB_YN = 'Y', PUB_TIME = #{pubTime} 
		WHERE PUB_CODE = #{pubCode}
	</update>
	
	<!--PubOfficeDAO.updatePubOfficeN -->
	<update id="updatePubOfficeN">
		UPDATE PUB_OFFICE 
			SET PUB_YN = 'N', PUB_TIME = null
	</update>
	
	<!-- PubOfficeDAO.deleteOfficeBooking -->
	<delete id="deleteOfficeBooking">
		DELETE FROM BOOKING
	</delete>
	
	
	
	
	<!--  사용 안 하지만 애매한 sql -->
	
	<!--PubOfficeDAO.selectPubCat -->
	<select id="selectPubCat" parameterType="pubOffice" resultType="pubOffice">
		SELECT PUB_CAT_CODE, PUB_CAT  
			FROM PUB_CAT
		WHERE PUB_CAT_CODE = #{pubCatCode}
	</select>
	
	<!--PubOfficeDAO.selectMemCode -->
	<select id="selectMemCode" parameterType="pubOffice" resultType="pubOffice">
		SELECT MEM_CODE  
			FROM MEMBER id = #{id}
	</select> 
	
	
	
	<!-- 사용 안해서 지워야 할 것 같은 sql -->
	
	<!--   PubOfficeDAO.selectPubOffice  -->
	<select id="selectOffice" parameterType="pubOffice" resultType="pubOffice">
		SELECT 
			PC.PUB_CAT_CODE, PC.PUB_CAT, PO.PUB_CODE, PO.PUB_YN, PO.PUB_UNIT
			,B.BOOK_CODE, B.BOOK_START, B.BOOK_DATE
			,M.MEM_CODE,M.IND_CODE, M.NAME, M.TEL,M.ID, M.PW, M.BUSINESS_NO ,M.ADDR
			,M.EMAIL ,M.MEM_PLAN, M.SIGNUP_DATE  
		FROM PUB_CAT PC, PUB_OFFICE PO, BOOKING B, MEMBER M
		WHERE 
			PC.PUB_CAT_CODE = PO.PUB_CAT_CODE 
			AND PO.PUB_CODE = B.PUB_CODE 
			AND B.MEM_CODE  = M.MEM_CODE
			AND PO.PUB_YN = 'Y'
	</select>

</mapper>

