<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SupportDAO">
	<insert id="insertApply" parameterType="support">
		insert into support_apply(sup_apply_code, sup_code, mem_code, sup_apply_date, sup_counseling_date, sup_content, sup_email)
		values(s_sup_apply_code.nextval, #{sup_code}, #{mem_code}, sysdate, #{sup_counseling_date}, #{sup_content}, #{email})
	</insert>
	
	<select id="selectUser" parameterType="support" resultType="support">
		select name, tel, email from member where id=#{id}
	</select>
	
	<select id="findMemcode" parameterType="string" resultType="int">
		select mem_code from member where id=#{id}
	</select>
	
	<select id="findEmail" parameterType="String" resultType="String">
		select email from member where id=#{id}
	</select>

</mapper>